*
!*/

!*.hpp
!*.cpp
!*.ipp
!*.in
!*.txt

!buildfile
!manifest
!bootstrap.build
!export.build
!root.build
!repositories.manifest
!packages.manifest

!CMakeLists.txt
!*.cmake

!.circleci/config.yml
!.github/**

!README.md
!LICENSE

!.gitignore