*

!_about
!_data
!_docs
!_includes
!_layouts
!_posts
!_sass
!_sass/**

!js
!css
!fonts
!fonts/**
!img
!img/**
!assets
!assets/docs
!assets/docs/figures

!*.md
!*.html
!*.js
!*.css
!*.scss
!*.yml
!*.json

!favicon.*
!Gemfile
!Gemfile.lock

!LICENSE
!README.md

!.gitignore